<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleat/layout"
    layout:decorate="~{layout/base_layout}">
    
    <main layout:fragment="main">
        <div class="my-2 card" style="padding: 0 30px 0 30px;">
            <div class="my-5 text-center">
                <h1>Sign Up</h1>
            </div>
            
            <div class="card-body">
                <form method="post" th:action="@{/member/signup}">
                    <div class="my-2">
                        <div class="form-floating mb-4">
                            <input type="text" class="form-control" name="username" placeholder="ID" required /> 
                            <label for="floatingInput">ID</label>
                        </div>
                        <div class="form-floating mb-4">
                            <input type="password" class="form-control" name="password" placeholder="PASSWORD" required />
                            <label for="floatingPassword">PASSWORD</label>
                        </div>
                        <div class="form-floating mb-4">
                            <input type="email" class="form-control" name="email" placeholder="EMAIL" required />
                            <label for="floatingPassword">EMAIL</label>
                        </div>    
                    </div>
    
                    <div class="mt-5 d-grid gap-2 d-md-flex justify-content-md-center">
                        <input class="btn btn-info" type="submit" value="sign up" />
                    </div>
                </form>
            </div>
        </div>
    </main>
</html>