<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleat/layout"
    layout:decorate="~{layout/base_layout}">
    
    <main layout:fragment="main">
        <div class="my-2 card"  style="padding: 0 30px 0 30px;">
            <div class="my-5 text-center">
                <h1>수정 페이지</h1>
            </div>
            <div class="card-body">
                <form id="postModifyForm"> <!-- 요청 주소 따로 없으면 현재 주소로 보냄(/post/create) -->
                    <div class="my-2">
                        <label class="form-label" for="id">NO</label>
                        <input class="form-control" id="id" name="id" th:value="${post.id}" readonly/>
                    </div>
                    <div class="my-2">
                        <label class="form-label" for="title">제목</label>
                        <input class="form-control" id="title" name="title" th:value="${post.title}"/>
                    </div>
                    <div class="my-2">
                        <label class="form-label" for="content">내용</label>
                        <textarea class="form-control" id="content" name="content" th:text="${post.content}" ></textarea>
                    </div>
                    <div class="my-2">
                        <label class="form-label" for="author">작성자</label>
                        <input class="form-control" id="author" name="author" th:value="${post.author}" readonly />
                    </div>    
                </form> 
                <div class="mt-5 d-grid gap-2 d-md-flex justify-content-md-center">
                    <button class="btn btn-outline-info" id="btnDelete">삭제</button>
                    <button class="btn btn-info text-white" id="btnUpdate">수정 완료</button>
                    <!-- form 안에 있는 버튼은 무조건 submit 기능을 하므로 밖에 위치해야 함 -->
                </div>    
            </div>

        </div>
        
    </main>
    
    <th:block layout:fragment="myscripts">
        <script src="/js/post/modify.js"></script>
    </th:block>
</html>