<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleat/layout"
    layout:decorate="~{layout/base_layout}">
    
    <main layout:fragment="main">
        <div class="my-2 card" style="padding: 0 30px 0 30px;">
            <div class="my-5 text-center">
                <h1>포스트 목록 페이지</h1>
            </div>
            
            <div class="card-body">
                <table class="table table-hover text-center">
                    <thead>
                        <tr>
                            <th>NO</th>
                            <th>제목</th>
                            <th>작성자</th>
                            <th>수정 시간</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr th:each="post : ${posts}"> <!-- 변수 : ${model에 addAttribute 한 변수} -->
                            <td th:text="${post.id}"></td>
                            <td>
                                <a class="link-offset-2 link-underline-opacity-0 link-dark"
                                 th:href="@{/post/detail?id={id} (id=${post.id})}" th:text="${post.title}"></a>
                            </td>
                            <td th:text="${post.author}"></td>
                            <td th:text="${#temporals.format(post.modifiedTime, 'yyyy.MM.dd HH:mm:ss')}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="d-grid my-3 col-8 mx-auto m-5 text-center">
                <form method="get" th:action="@{/post/search}">
                    <div class="input-group col-sm-8 my-2">
                       <!--  <select class="form-select" name="type">
                                <option value="t">제목</option>
                                <option value="c">내용</option>
                                <option value="tc">제목 + 내용</option>
                                <option value="a">작성자</option>
                        </select>
                        <input class="form-control" type="text" placeholder="검색어 입력" name="keyword" required 
                                aria-label="Input group example" aria-describedby="basic-addon1" />
                        
                        <input class="btn btn-outline-info" type="submit" value="검색" /> -->
                        
                    
                    
                        <div class="col-3">
                            <select class="form-select" name="type">
                                <option value="t">제목</option>
                                <option value="c">내용</option>
                                <option value="tc">제목 + 내용</option>
                                <option value="a">작성자</option>
                            </select>
                        </div>
                        <div class="col-7">
                            <input class="form-control input-group" type="text" placeholder="search" name="keyword" required 
                                aria-label="Input group example" aria-describedby="basic-addon1" />
                        </div>
                            
                            <input class="btn btn-outline-info" type="submit" value="검색" />
                    </div>
                </form>
            </div>
        </div>
    </main>

</html>