<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
    xmlns:layout="http://www.ultraq.net.nz/thymeleat/layout">
	<head>
		<meta charset="UTF-8"/>
		<title>Spring Boot</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" 
            rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	</head>
	<body style="background-color: #EBFBFF; padding: 0 250px 0 250px;">
        <div class="container-fluid ">
    		<header class="my-2 p-5 text-center" style="background-color: #EBFBFF;">
                <h1>SPRING BOOT APP</h1>
            </header>
            
                <nav class="navbar justify-content-center">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/}">메인</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/post}">포스트</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/post/create}">새 포스트</a>
                        </li>
                            <th:block sec:authorize="isAuthenticated()"> <!-- 인증된 사용자이면(로그인 상태이면) -->
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/logout}">log out</a>
                                </li>
                                <li class="nav-item">
                                    <span class="nav-link disabled"  sec:authentication="name"></span> <!-- 로그인한 username 표시 -->
                                </li>
                            </th:block>
                            <th:block sec:authorize="isAnonymous()"> <!-- 익명 사용자이면(로그인 하지 않은 상태이면) -->
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/login}">log in</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link disabled">join us</a>
                                </li>
                            </th:block>
                    </ul>
                </nav>
        

        
            <th:block layout:fragment="main" ></th:block> <!-- th:blobk -> div랑 비슷, main 컨텐트가 삽입될 위치 -->
            
            
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>    
            
        <!-- 자바스크립트 파일 추가 위치 -->
        <th:block layout:fragment="myscripts"></th:block>    
	</body>
</html>